<h1>My Todo List!</h1>

<%= link_to 'New Todo Item', new_todolist_path %>

<table>
  <tr>
    <th>Todo</th>
    <thcolspan="2"></th>
  </tr>

  <% @todolists.each do |todolist| %>
    <tr>
      <td><%= todolist.todo %></td>
      <td><%= link_to 'Show', todolist_path(todolist) %></td>
      <td><%= link_to 'Edit', edit_todolist_path(todolist) %></td>
      <td><%= link_to 'Delete', todolist_path(todolist),
              method: :delete,
              data: {confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
