<h1>New Todo</h1>

<%= form_with scope: :todolist, url: todolists_path, local: true do |form| %>

  <% if @todolist.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@todolist.errors.count, "error") %> prohibited
        this todo item from being saved:
      </h2>
      <ul>
        <% @todolist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :todo %><br>
    <%= form.text_field :todo, class: "form-control form-control user w-25", style: "border-radius: 10rem;" %>
  </p>

  <p>
    <%= form.label :priority %><br>
    <%= form.select(:priority,
    options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5]]), {}, {class: "dropdown-toggle btn btn-secondary p-1"})%><br>
  </p>

  <p>
    <%= form.label :deadline %><br>
    <%= form.date_select :deadline, {}, {class: "dropdown-toggle btn btn-secondary p-1"} %>
  </p>

  <p>
    <%= link_to 'Back', todolists_path, class: "btn btn-danger px-2 mr-4" %>
    <%= form.submit "Create Todo Item", class: "btn btn-success px-3 ml-4", style: "border-radius: 10rem;" %>
  </p>
<% end %>

